<html>
    <head>
        <title>Translation Result</title>

        <!-- link to bootstrap cdn -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- linking main.css file (currently unused) -->
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> -->
    </head>

    <body>
        <div class="container">

         <!-- Result page heading -->
            <h1>Translated Text:</h1>
       
        </div>            

        </div>
        <div class="container">
            <div class="jumbotron">
                <!-- Receiving and rendering translated text -->
                <p><%=result%></p>
            </div>

            <!-- Translate Again? button -->
            <div class="row">
            
                <div class="col-md-12"> 
                   <a href="/"><button class="btn btn-primary btn-lg btn-block">Translate Again?</button></a>
                </div>
            </div>

        </div>
             
       
<!-- link to jQuery cdn -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script> 

<!-- link to bootstrap's JavaScript cdn -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>